* {
    font-family: Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

ul {
    margin: 0;
    padding: 4px;
    list-style: none;
}

li {
    float: left;
    padding-right: 12px;
}

.menulink {
    cursor: pointer;
}

.modal {
    width: 520px;
    height: auto;
    background-color: rgba(220,220,220,0.7);
    display: block;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #ccc;
    padding: 14px;
    border-radius: 5px;
}

.modal:focus {
    outline: 0;
}

.modal-control ul {
    padding-left: 20px;
    list-style: circle;
}

.modal-control li {
    padding: 4px 4px;
}

.modal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-content h3 {
    margin-top: 0;
    font-size: 1.4em;
}

.modal-content table thead tr th {
    text-align: right;
}

/*.modal-content table tbody tr td label {
    display: block;
    width: 100px;
}*/

.modal-content table tbody tr td input {
    display: block;
    width: 30px;
    float: right;
    clear: both;
    text-align: right;
    font-size: 15px;
}

.modal-content table thead tr th {
    padding-left: 50px;
}

.modal-content table tbody tr td {
    text-align: right;
}

.modal-buttons {
    display: flex;
    justify-content: center;
}

.modal-buttons button {
    margin: 20px 10px 10px 10px;
    width: 80px;
}

.minesweeper {
    display: flex;
    flex-direction: column;
    background: #ccc;
    padding: 0;
    border-right: 2px solid #999;
    border-bottom: 2px solid #999;
    margin-top: 20px;
}

.minesweeper.minesweeper-indent {
    border-top: 2px solid #999;
    border-left: 2px solid #999;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 0;
    margin: 4px;
}

.minesweeper.minesweeper-indent.minesweeper-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 8px 4px 8px;
    margin-bottom: 0;
}

.board {
    display: flex;
    flex-wrap: wrap;
}

.counter {
    display: flex;
    width: 39px;
    height: 23px;
}

.digit {
    display: flex;
    width: 13px;
    height: 23px;
    background: url('assets/minesweepersprite.png') no-repeat;
}

.digit.digit-0 {
    background-position: 0 -32px;
}

.digit.digit-1 {
    background-position: -13px -32px;
}

.digit.digit-2 {
    background-position: -26px -32px;
}

.digit.digit-3 {
    background-position: -39px -32px;
}

.digit.digit-4 {
    background-position: -52px -32px;
}

.digit.digit-5 {
    background-position: -65px -32px;
}

.digit.digit-6 {
    background-position: -78px -32px;
}

.digit.digit-7 {
    background-position: -91px -32px;
}

.digit.digit-8 {
    background-position: -104px -32px;
}

.digit.digit-9 {
    background-position: -117px -32px;
}

.face-button {
    display: flex;
    width: 26px;
    height: 26px;
    background: url('assets/minesweepersprite.png') no-repeat;
}

.face-button.smile-clicked {
    background-position: 0 -55px;
}

.face-button.smile {
    background-position: -26px -55px;
}

.face-button.oface {
    background-position: -52px -55px;
}

.face-button.frown {
    background-position: -78px -55px;
}

.face-button.shades {
    background-position: -104px -55px;
}

.tile {
    display: flex;
    width: 16px;
    height: 16px;
    background: url('assets/minesweepersprite.png') no-repeat;
}

.tile.revealed-0 {
    background-position: 0 0;
}

.tile.revealed-1 {
    background-position: -16px 0;
}

.tile.revealed-2 {
    background-position: -32px 0;
}

.tile.revealed-3 {
    background-position: -48px 0;
}

.tile.revealed-4 {
    background-position: -64px 0;
}

.tile.revealed-5 {
    background-position: -80px 0;
}

.tile.revealed-6 {
    background-position: -96px 0;
}

.tile.revealed-7 {
    background-position: -112px 0;
}

.tile.revealed-8 {
    background-position: -128px 0;
}

.tile.revealed-bomb {
    background-position: 0 -16px;
}

.tile.bomb_x {
    background-position: -16px -16px;
}

.tile.detonated {
    background-position: -32px -16px;
}

.tile.question_mark {
    background-position: -48px -16px;
}

.tile.flagged {
    background-position: -64px -16px;
}

.tile.hidden {
    background-position: -80px -16px;
}
