.board {
    display: flex;
    flex-wrap: wrap;
}

.counter {
    display: flex;
    width: 39px;
    height: 23px;
}

.digit {
    display: flex;
    width: 13px;
    height: 23px;
    background: url('assets/minesweepersprite.png') no-repeat;
}

.digit.digit-0 {
    background-position: 0 -32px;
}

.digit.digit-1 {
    background-position: -13px -32px;
}

.digit.digit-2 {
    background-position: -26px -32px;
}

.digit.digit-3 {
    background-position: -39px -32px;
}

.digit.digit-4 {
    background-position: -52px -32px;
}

.digit.digit-5 {
    background-position: -65px -32px;
}

.digit.digit-6 {
    background-position: -78px -32px;
}

.digit.digit-7 {
    background-position: -91px -32px;
}

.digit.digit-8 {
    background-position: -104px -32px;
}

.digit.digit-9 {
    background-position: -117px -32px;
}

.face-button {
    display: flex;
    width: 26px;
    height: 26px;
    background: url('assets/minesweepersprite.png') no-repeat;
}

.face-button.smile-clicked {
    background-position: 0 -55px;
}

.face-button.smile {
    background-position: -26px -55px;
}

.face-button.oface {
    background-position: -52px -55px;
}

.face-button.frown {
    background-position: -78px -55px;
}

.face-button.shades {
    background-position: -104px -55px;
}

.tile {
    display: flex;
    width: 16px;
    height: 16px;
    background: url('assets/minesweepersprite.png') no-repeat;
}

.tile.revealed-0 {
    background-position: 0 0;
}

.tile.revealed-1 {
    background-position: -16px 0;
}

.tile.revealed-2 {
    background-position: -32px 0;
}

.tile.revealed-3 {
    background-position: -48px 0;
}

.tile.revealed-4 {
    background-position: -64px 0;
}

.tile.revealed-5 {
    background-position: -80px 0;
}

.tile.revealed-6 {
    background-position: -96px 0;
}

.tile.revealed-7 {
    background-position: -112px 0;
}

.tile.revealed-8 {
    background-position: -128px 0;
}

.tile.revealed-bomb {
    background-position: 0 -16px;
}

.tile.bomb_x {
    background-position: -16px -16px;
}

.tile.detonated {
    background-position: -32px -16px;
}

.tile.question_mark {
    background-position: -48px -16px;
}

.tile.flagged {
    background-position: -64px -16px;
}

.tile.hidden {
    background-position: -80px -16px;
}
